## Environmental stuff
.DS_Store
thumbs.db
._*
*~
*.sw[op]
*.bak
.htaccess

# Composer
/vendor/
composer.phar

## Braskit-specific
/config.php

# ignore all top-level directories, except those we choose
/*/
!/config/
!/lib/
!/src/
!/static/
!/templates/

# ignore non-standard style directories
/static/styles/*/

!/static/styles/base/
!/static/styles/burichan/
!/static/styles/futaba/
!/static/styles/tomorrow/
!/static/styles/yotsuba/
!/static/styles/yotsuba-b/

# compiled LESS
/static/styles/*/*-*.css

# minified JS
/static/js/cache-*.js
