## Environmental stuff
.DS_Store
thumbs.db
*~
*.swp
*.bak
.htaccess

## PlainIB-specific
/config.php
*.sql

# compiled LESS
/static/styles/*/*-*.css

# ignore all top-level directories, except those we choose
/*/
!/inc/
!/static/
