## Environmental stuff
.DS_Store
thumbs.db
._*
*~
*.swp
*.bak
.htaccess

## PlainIB-specific
/config.php
*.sql

# ignore all top-level directories, except those we choose
/*/
!/inc/
!/static/

# ignore non-standard style directories
/static/styles/*/

!/static/styles/bootstrap/
!/static/styles/img/

!/static/styles/burichan/
!/static/styles/futaba/
!/static/styles/tomorrow/
!/static/styles/yotsuba/
!/static/styles/yotsuba-b/

# compiled LESS
/static/styles/*/*-*.css

# minified JS
/static/js/cache-*.js
