{% from "includes/macros.html" import returnlink -%}

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">

    <title>
      {%- if title %}{{ title }} - {% endif -%}
      {%- if board -%}
        {%- if not title -%}/{{ board }}/ - {% endif -%}
        {{- board.title -}}
      {%- else -%}
        {{ global_config.get("site_name") -}}
      {%- endif -%}
    </title>

    <link rel="stylesheet" href="{{ style.getDefaultPath() }}" id="braskit-style">

    {# This has to be in the header, otherwise the page will load using the
     # wrong stylesheet. #}
    <script>{% include "includes/style.js" %}</script>
  </head>

  <body{% if js_callbacks %} data-callback="{{ js_callbacks|join(" ") }}"{% endif %}{% if not static %} data-csrf="{{ app.csrf.getToken() }}"{% endif %}>
    <div class="site-wrapper">
      {% include "includes/header.html" %}

      <div class="page-content">
        {% if not hide_title and title %}
          <nav class="page-nav">
            {{ returnlink(_context) }}
          </nav>

          <h1 class="page-title">{% block title %}{{ title }}{% endblock %}</h1>
        {% endif %}

        {% block content %}{% endblock %}
      </div>

      {% block page_foot %}
        <hr>
      {% endblock %}

      {% include "includes/footer.html" %}
    </div>

    {% if app["js.debug"] %}
      {% for file in app["js.includes"] %}
        {# TODO: absolute paths #}
        <script src="{{ path("static/js/"~file) }}"></script>
      {% endfor %}
    {% else %}
      <script src="{{ js() }}"></script>
    {% endif %}
  </body>
</html>
