@import "bootstrap/bootstrap.less";
@bodyBackground: #eef2ff !important;

.login-page {
	margin: 40px;

	.login-form {
		background: #fff;
		border: solid 1px #ccc;
		display: table;
		margin: 0 auto;
		padding: 20px;
	}

	.error {
		.alert;
		.alert-error;
	}

	input {
		.input-large;
	}

	.submit {
		.btn;
		.btn-primary;
	}

	.return {
		.btn;
	}
}
