body {
	font-family: Times, 'Times New Roman', 'Nimbus Roman No9 L',
		'Freeserif', serif;
	font-size: 12pt;
	margin: 0;
	padding: 8px;
}

/* Board menus */
.topmenu {
}
.bottommenu {
}
.leftmenu {
}
.rightmenu {
	clear: both;
	float: right;
	text-align: right;
}

#logo {
	clear: both;
	text-align: center;
}

#header {
	font-weight: normal;
	font-size: 24pt;
	margin: 0;
}

.theader {
	/* intentionally left blank */
}

/* Postform */

.postarea {
	display: table; /* why doesn't inline-block work? */
	margin: 0px auto;
}
.postarea th {
	font-weight: bold;
	text-align: left;
}
.rules {
	font-size: 0.7em;
	padding: 1px 3px;
}


/* Thumbnails */
.reply .imginfo {
	margin: 0 20px;
}
.thumb {
	float: left;
	margin: 2px 20px;
}

.replywrap {
	display: table;
	border-spacing: 2px;
}

.doubledash {
	display: table-cell;
	padding: 1px;
}
.reply {
	display: table-cell;
	padding: 1px;
}

/*
 * Why use this when we could use "hr { clear: both }"? Because the margin
 * beneath threads is larger with this for whatever reason, and fixing that when
 * clearing horizontal lines is hard/impractical/impossible.
 */
.thread:after {
	clear: both;
	content: "";
	display: block;
}
.thread {
	zoom: 1; /* For shitty old versions of IE */
}

/* Post headers */
.posthead {
	font-size: 1em;
	font-weight: normal;
	margin: 0;
}
.posttitle {
	font-style: normal;
	font-weight: bold;
}
.postname {
	font-weight: bold;
}
.posttrip {
}
.reflink a {
	color: inherit;
	text-decoration: none;
}
.replylink {
	margin-left: .5em;
}

/* Post text */

.posttext {
	margin: 1em 40px;
}
.reply .posttext {
	margin-bottom: 0;
}
.posttext p {
}
.posttext em {
}
.posttext strong {
}
.posttext ol {
}
.posttext ul {
}
.posttext li {
}
.posttext ol li {
}
.posttext ul li {
}
.posttext blockquote,
.posttext .unkfunc {
}
.posttext a.boardlink {
}
.posttext .spoiler {
	background: #000;
	color: #000;
}
.posttext .spoiler:hover {
	color: #fff;
}

.omitted {
}
.deletefile {
	float: right;
}

/* Page navigator
 *
 * The border stuff emulates <table border="1"> as it appears in chrome.
 * We could let every substyle define its own border colours so it appears like
 * border="1" in Firefox, but frankly that's more effort than it's worth.
 * Chrome's defaults aren't bad either, at least not compared to Opera. :shrug:
 */

.pages {
	border: solid 1px;
	border-left-color: #808080;
	border-top-color: #808080;
	border-right-color: #2c2c2c;
	border-bottom-color: #2c2c2c;
	border-spacing: 2px;
	display: table;
}
.pages div {
	display: table-cell;
	border: solid 1px;
	border-left-color: #2c2c2c;
	border-top-color: #2c2c2c;
	border-right-color: #808080;
	border-bottom-color: #808080;
	padding: 1px;
}
.pages form {
	display: inline;
	margin: 0;
	padding: 0;
}

#footer {
	font-size: 12px;
	text-align: center;
}

.error {
	font-size: 24pt;
	font-weight: bold;
	text-align: center;
}

/* Moderator stuff */
.loginform {
	margin-top: 1em;
	margin-bottom: 1em;
}

.important {
	color: red;
	font-weight: bold;
}
p.center {
	text-align: center;
}
div.center, table.center {
	margin-left: auto;
	margin-right: auto;
}
.modlist thead tr {
}
.modlist th {
	font-weight: bold;
	text-align: left;
}
.modlist tr {
}
.modlist .minimal {
	width: 1%;
}

.noscreen {
	display: none;
}
