{#
 # Top menu
 #}

<nav class="site-nav">
  <span class="admin-nav">
    {# Style selector #}
    <span class="style-unhide"><span class="style-list"></span> -</span>

    {# Admin links #}
    {% if admin %}
      [<a href="{{ path("manage", true) }}">Manage</a>]
      [<a href="{{ path("bans", true) }}">Bans</a>]

      {% if board %}
        [<a href="{{ board.path("rebuild", true) }}">Rebuild caches</a>]
      {% endif %}

      [<a href="{{ path("logout", true) }}">Log out</a>]
      -
    {% endif %}

    [<a href="{{ app.config.home_url }}" target="_top">Home</a>]

    {# Login link #}
    {% if not admin %}
      [<a href="{{ path("login", true) }}">Manage</a>]
    {% endif %}
  </span>
</nav>


{#
 # Page header
 #}

<header class="site-header">
  {% block header %}
    <h1>
      {% if board %}
        /{{ board }}/ - {{ board.title }}

        {% if admin %}
          <a href="{{ board.path("edit", true) }}" class="admin-link">[Edit]</a>
        {% endif %}
      {% else %}
        {{ app.config.site_name }}
      {% endif %}
    </h1>

    {% if subtitle %}
      <p class="subtitle">{{ subtitle }}</div>
    {% endif %}
  {% endblock %}
</header>

<hr>
