<form action="{{ board.path("post", true) }}" method="post" enctype="multipart/form-data" class="post-form" id="postform">
  <input type="hidden" name="parent" value="{{ thread ? thread|raw : 0 }}">

  <table class="form-table">
    <tbody>
      {% if not board.config.get("forced_anon") %}
        <tr>
          <th>Name</th>
          <td><input type="text" name="field1" size="28"></td>
        </tr>

        {% if board.config.get("allow_email") %}
        <tr>
          <th>Email</th>
          <td><input type="text" name="field2" size="28"></td>
        </tr>
        {% endif %}
      {% endif %}

      <tr>
        <th>Subject</th>
        <td>
          {% spaceless %}
            <input type="text" name="field3" size="35">
            <input type="submit" value="Submit">
          {% endspaceless %}

          {% if thread and not board.config.get("allow_email") %}
            <label>[<input type="checkbox" name="sage" value="on"> No Bump]</label>
          {% endif %}
        </td>
      </tr>

      <tr>
        <th>Comment</th>
        <td><textarea name="field4" rows="4" cols="48"></textarea></td>
      </tr>

      {% if thread and board.config.get("allow_reply_images") or board.config.get("allow_thread_images") %}
        <tr>
          <th>File</th>
          <td>
            <input type="file" name="file">

            {% if not thread and board.config.get("allow_thread_textonly") %}
              {# Safeguard to prevent accidental thread creation (it's more
               # annoying than accidental replies). #}
              <label>[<input type="checkbox" name="nofile" value="on"> No File]</label>
            {% endif %}
          </td>
        </tr>
      {% endif %}

      {% if admin %}
        <tr>
          <th>Options</th>
          <td>
            <p class="option"><label><input type="checkbox" name="raw" value="on"> Post with raw HTML</label></p>
            <p class="option"><label><input type="checkbox" name="capcode" value="on"> Post with capcode</label></p>
          </td>
        </tr>
      {% endif %}
    </tbody>
  </table>

  <div class="rules">{% include "includes/rules.html" %}</div>
</form>
