<!DOCTYPE html>
<html>
<head>
	<title>{{ title }}</title>
	<meta charset="utf-8">
	<link rel="stylesheet" href="{{ path("static/css/futaba.css") }}">
	<script src="{{ path("static/js/jquery-1.9.0.min.js") }}"></script>
	<script src="{{ path("static/js/PlainIB.js") }}"></script>
</head>
<body>
	<div id="topmenu" class="boardmenu">
		<div class="rightmenu">
			{% if admin %}
				[<a href="{{ self() }}?task=manage">Manage</a>]
				[<a href="{{ self() }}?task=bans">Bans</a>]
				[<a href="{{ self() }}?task=rebuild">Rebuild caches</a>]
				[<a href="{{ self() }}?task=logout">Log out</a>]
				-
				[<a href="{{ path("index.html") }}" target="_top">Home</a>]
			{% else %}
				[<a href="{{ path("index.html") }}" target="_top">Home</a>]
				[<a href="{{ self() }}?task=manage">Manage</a>]
			{% endif %}
		</div>
	</div>
	<div id="logo">
		{%- block header -%}
			<h1 id="header">{{ constant("TINYIB_BOARDDESC") }}</h1>
			{%- if subheader -%}
				<div id="subheader">{{ subheader }}</div>
			{%- endif -%}
		{%- endblock -%}
	</div>
	<hr>
	{% block adminbar %}
		{% if admin %}
			<div class="theader">Manager Mode{% if manatitle %}: {{ manatitle }}{% endif %}</div>
		{% endif %}
	{% endblock %}
	{% block content %}{% endblock %}
	<div id="bottommenu" class="boardmenu">{# TODO #}</div>
	<p id="footer">
		- <a href="https://github.com/frankusrs/PlainIB/" target="_top">PlainIB</a>
		+ <a href="http://www.2chan.net/script/" target="_top">futaba</a>
		-
	</p>
</body>
</html>
