{% extends "base.html" %}

{% set js_callbacks = ["doConfig"] %}
{% set js_additional = [path("static/js/bootstrap.min.js")] %}

{% block content %}
  {% if board %}
    <div class="theader">Editing config for /{{ board }}/</div>
  {% else %}
    <div class="theader">Editing global config</div>
  {% endif %}

  <form action="{{ board ? board.path("config", true) : path("config", true) }}" method="post" class="configform">
    <input type="hidden" name="csrf" value="{{ csrf() }}">
    <table>
      <thead>
        <tr>
          <th>Key</th>
          <th>Value</th>
          <th>Reset</th>
        </tr>
      </thead>
      <tbody>
        {% for item in config_instance %}
          <tr{% if not loop.index % 2 %} class="alt"{% endif %}>
            <td>
              <label for="config_{{ item.name|raw }}" title="{{ item.description }}">
                {% if item.modified %}
                  <strong>{{ item.name|raw }}</strong>
                {% else %}
                  {{ item.name|raw }}
                {% endif %}
              </label>
            </td>

            <td>
              {% if item.type == "boolean" %}
                <input type="checkbox" name="config[{{ item.name|raw }}]" value="on" id="config_{{ item.name|raw }}"{% if item.value %} checked{% endif %}>
              {% elseif item.type == "integer" %}
                <input type="number" name="config[{{ item.name|raw }}]" value="{{ item.value }}" id="config_{{ item.name|raw }}" size="8">
              {% elseif item.type == "string" %}
                <input type="text" name="config[{{ item.name|raw }}]" value="{{ item.value }}" id="config_{{ item.name|raw }}" size="35">
              {% endif %}
            </td>
            <td><input type="checkbox" name="reset[{{ item.name|raw }}]" value="on"{% if not item.modified %} disabled{% else %} data-default="{{ item.default }}"{% endif %} class="toggle-reset"></td>
          </tr>
        {% endfor %}
      </tbody>
    </table>

    <div class="buttons"><input type="submit" value="Edit Config"></div>
  </form>

  <hr>
{% endblock %}
