{% extends _base %}
{% import "includes/macros.html" as m %}

{% set title = "Editing board: /%s/"|format(board) %}

{% block content %}
  <div class="group-container">
    {# note to self: this form will be shared with create_board #}
    <form action="{{ board.path("edit", true) }}" method="post" class="row-form">
      <input type="hidden" name="{{ app.csrf.getParamName() }}" value="{{ app.csrf.getToken() }}">

      <h2>Board information</h2>

      <div class="row">
        <label for="name">Short name</label>
        <input type="text" name="name" id="name" value="{{ board }}" size="8">

        <p>Directory name for board. Must be unique and can only contain
          letters, numbers and hyphens.</p>
      </div>

      <div class="row">
        <label for="title">Title</label>
        <input type="text" name="title" id="title" value="{{ board.title }}" size="35">

        <p>The title/"long name" of the board.</p>
      </div>

      <div class="row">
        <label for="minlevel">Minimum view level</label>
        <input type="text" name="minlevel" id="minlevel" value="{{ board.minlevel }}" size="4">

        <p>Defines the minimum user level needed to view the board. If this
          level isn't set to zero, board caches will be deleted and one must log
          in with a sufficiently privileged user account in order to view the
          board.</p>
      </div>

      <p class="form-controls">
        <input type="submit" value="Edit Board">
        <label><input type="checkbox" name="rebuild" id="rebuild" value="on"> Rebuild</label>
      </p>
    </form>

    <div class="row-form">
      <h2>Configuration</h2>

      <input type="submit" value="Edit configuration">
    </div>

    <form action="{{ board.path("delete_board", true) }}" method="post" class="row-form">
      <h2>Delete board</h2>

      <p><strong>Warning:</strong> This will irrecoverably delete all data
        associated with the board. If you want to remove public access to the
        board, you can change the user level above instead.</p>

      <input type="hidden" name="{{ app.csrf.getParamName() }}" value="{{ app.csrf.getToken() }}">

      <div class="row">
        <label for="delete">Delete files</label>
        <input type="checkbox" name="delete" id="delete" value="on" checked>

        <p>Deletes the <kbd>src/</kbd> and <kbd>thumb/</kbd> directories
          associated with the board. Board caches will be removed either way.
        </p>
      </div>

      <p class="form-controls"><input type="submit" value="Delete Board"></p>
    </form>
  </div>
{% endblock %}
