<div id="bottommenu" class="boardmenu">{# TODO #}</div>

<p class="footer">
  {#
   # Please leave this link intact, or at least acknowledge my efforts somewhere
   # on your site. You got the software for free, but making it took many weeks,
   # time I would rather have spent at nightclubs and parties.
   #   - Frank
   #}
  - <a href="https://github.com/frankusrs/PlainIB/" target="_top">PlainIB</a>
  + <a href="http://www.2chan.net/script/" target="_top">futaba</a>
  -
  <!--footer_insert-->
</p>
