{% extends "base/install.html" %}

{% block content %}
  <p><strong>Welcome to the Braskit installer.</strong> You are seeing this
    because the board software requires some additional configuration before it
    can be used.</p>

  {# Actually, you're probably seeing this because the administrator is an
   # incompetent piece of shit, but don't tell him/her that. #}

  <p>Note that the installer does not attempt to validate the information fed to
    it - you are expected to use sane values, such as database credentials
    without Unicode and table prefixes consisting only of letters, numbers and
    underscores. For security reasons, you will need FTP/SSH/SCP access or
    similar in order to finish the install.</p>

  <form action="{{ self }}" method="post">
    <fieldset>
      <legend>Database</legend>

      <div class="row">
        <label for="db_name">DB name</label>
        <input type="text" name="db_name" id="db_name" autocomplete="off">
        <p>The name of your PostgreSQL database.</p>
      </div>

      <div class="row">
        <label for="db_host">Host</label>
        <input type="text" name="db_host" id="db_host" value="localhost" autocomplete="off">
        <p>Usually <kbd>localhost</kbd>, but may vary. Leave blank to connect
          through a unix domain socket.</p>
      </div>
 
      <div class="row">
        <label for="db_username">Username</label>
        <input type="text" name="db_username" id="db_username" autocomplete="off">
      </div>

      <div class="row">
        <label for="db_password">Password</label>
        <input type="password" name="db_password" id="db_password" autocomplete="off">
      </div>

      <div class="row">
        <label for="db_prefix">Table prefix</label>
        <input type="text" name="db_prefix" id="db_prefix" autocomplete="off" size="8">
        <p>Set this to something unique if you're running multiple applications
          using the same database. Something short like <kbd>foo_</kbd> is
          preferred. Otherwise, you'll probably want to leave this empty.</p>
      </div>

    </fieldset>

    <fieldset>
      <legend>Admin account</legend>

      <div class="row">
        <label for="username">Username</label>
        <input type="text" name="username" id="username" autocomplete="off">
      </div>
      
      <div class="row">
        <label for="password">Password</label>
        <input type="password" name="password" id="password" autocomplete="off">
      </div>
    </fieldset>

    <div class="row">
      <input type="submit" value="Install">
    </div>
  </form>
{% endblock %}
