{% extends "base/install.html" %}
{% set js_callback = "config_cb" %}

{% block content %}
  <p>In order to continue the installation, copy the config below to
    <kbd>config.php</kbd> in the board's root directory. Alternatively, you may
    <a href="{{ config_path }}">download the configuration</a> or
    <a href="{{ path("restart", true) }}">restart the installation</a>.
  </p>

  <p>If you have shell access, running one of the following commands from
    Braskit's root directory should be able to complete this step (if you are
    unsure of what this means, ignore it):</p>

  <p><kbd>curl -f -J -O '<span class="url">{{ config_url }}</span>'</kbd></p>
  {# wget is shit #}
  <p><kbd>wget -O config.php '<span class="url">{{ config_url }}</span>'</kbd></p>

  <p>When you're done, <a href="{{ path("finish", true) }}">proceed with
    the installation</a>.</p>

  <div class="row">
    <textarea readonly cols="80" rows="24">{{ config }}</textarea>
  </div>
{% endblock %}
