{% set menu_items = {
  "manage": "Manager home",
  "boards": "Boards",
  "bans": "Bans & Whitelistings",
  "spam": "Spam",
  "configuration": "Configuration",
  "utilities": "Utilities"
} %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{ config.site_name }}</title>
  </head>
  <body{% if body_classes %} class="{{ body_classes }}"{% endif %}>
    {% block wrapper %}
      <div class="top-nav navbar navbar-static-top navbar-inverse">
        <div class="navbar-inner">
          <div class="container">
            <a class="brand" href="#">{{ config.site_name }}</a>
            <form action="{{ path("search", true) }}" method="" class="navbar-search pull-right">
              <input type="text" class="search-query" placeholder="Search">
            </form>
          </div>
        </div>
      </div>

      <div class="container">
        <div class="row">
          {# Sidebar #}
          {# FIXME: I can't figure out how to combine these classes in LESS #}
          <div class="sidebar">
            <ul class="main-menu nav nav-list">
              {% for dest, label in menu_items %}
                <li{% if dest == current_page %} class="active"{% endif %}><a href="{{ path(dest, true) }}">{{ label }}</a></li>
              {% endfor %}
            </ul>
          </div>

          <div class="content">
            {% block content %}{% endblock %}
          </div>
        </div>
      </div>
    {% endblock %}

    <script src="{{ path("static/js/jquery-1.9.0.min.js") }}"></script>
    <script src="{{ path("static/js/bootstrap.min.js") }}"></script>
  </body>
</html>
