{% extends "base.html" %}
{% import "post_macros.html" as m %}

{% block content %}
  {% include "postform.html" %}
	<hr>
	<form action="{{ board.path("delete", true) }}" method="post" name="delform">
		<input type="hidden" name="board" value="{{ board }}">
		{% if admin %}
      <input type="hidden" name="csrf" value="{{ csrf() }}">
			<input type="hidden" name="nexttask" value="manage">
		{% endif %}
		{% for thread in threads %}
			{{ m.thread(loop.parent, thread) }}
			<hr>
		{% endfor %}
		{{ m.delfile(_context) }}
	</form>

	<div class="pages">
		<div class="previous">
			{% if not pagenum %}
				Previous
			{% else %}
				{{ m.make_previous_page_button(_context) }}
			{% endif %}
		</div>
		<div class="pagenums">
			{% for i in range(0, maxpage) %}
				{% if i == pagenum %}
					[<strong>{{ i }}</strong>]
        {% elseif i == 0 %}
          [<a href="{{ board.path("index.html", admin) }}">{{ i }}</a>]
        {% else %}
          [<a href="{{ board.path(i~".html", admin) }}">{{ i }}</a>]
				{% endif %}
			{% endfor %}
		</div>
		<div class="next">
			{% if pagenum == maxpage %}
				Next
			{% else %}
				{{ m.make_next_page_button(_context) }}
			{% endif %}
		</div>
	</div>
{% endblock %}
