{% extends "base.html" %}
{% import "post_macros.html" as m %}

{% set title = config.site_name %}

{% block adminbar_login %}[<a href="{{ self() }}?task=manage&board={{ board }}">Manage</a>]{% endblock %}
{% block adminbar_manage %}[<a href="{{ self() }}?task=manage&board={{ board }}">Manage</a>]{% endblock %}
{% block adminbar_rebuild %}[<a href="{{ self() }}?task=rebuild&board={{ board }}">Rebuild caches</a>]{% endblock %}

{% block content %}
	{{ m.postform(_context) }}
	<hr>
	<form action="{{ self() }}?task=delete" method="post" name="delform">
		<input type="hidden" name="board" value="{{ board }}">
		{% if admin %}
			<input type="hidden" name="nexttask" value="manage">
		{% endif %}
		{% for thread in threads %}
			{{ m.thread(loop.parent, thread) }}
			<hr>
		{% endfor %}
		{{ m.delfile(_context) }}
	</form>
	<div class="pages">
		<div class="previous">
			{% if not pagenum %}
				Previous
			{% else %}
				{{ m.make_previous_page_button(_context) }}
			{% endif %}
		</div>
		<div class="pagenums">
			{% for i in range(0, maxpage) %}
				{% if i == pagenum %}
					[<strong>{{ i }}</strong>]
				{% else %}
					[<a href="{{ m.get_page_link(loop.parent, i) }}">{{ i }}</a>]
				{% endif %}
			{% endfor %}
		</div>
		<div class="next">
			{% if pagenum == maxpage %}
				Next
			{% else %}
				{{ m.make_next_page_button(_context) }}
			{% endif %}
		</div>
	</div>
{% endblock %}
