{# TODO: The management panel needs its own set of links. #}

{#
 # Thread macros
 #}

{% macro thread(context, posts) %}
	{% import _self as post -%}

	<div class="thread" id="{{ posts[0].id }}">
		{% for p in posts %}
			{% if not p.parent %}
				{{ post.op(context, p) }}
				{% if p.omitted %}
					<div class="omitted">{{ p.omitted }} posts omitted. Click Reply to view.</div>
				{% endif %}
			{% else %}
				{{ post.reply(context, p) }}
			{% endif %}
		{% endfor %}
	</div>
{% endmacro %}

{% macro head(context, p) -%}
	{% import _self as m -%}

	<h2 class="posthead">
		<label>
			<input type="checkbox" name="delete[]" value="{{ p.id }}">
			{% if p.subject %}
				<em class="posttitle">{{ p.subject }}</em>
			{% endif %}
			<span class="postname">{{ p.name }}</span>
			{% if p.tripcode %}
				<span class="posttrip">{{ p.tripcode }}</span>
			{% endif %}
			{% if context.admin %}
				<span class="postip">(<a href="{{ path("IP/"~p.ip, true) }}">{{ p.ip }}</a>)</span>
			{% endif %}
			<span class="postdate">{{ p.date }}</span>
		</label>
		{%- spaceless %}
			<span class="reflink">
				{% if not context.thread %}
					<a href="{{ context.board.path("res/"~p.id~".html#"~p.id, context.admin) }}" class="no">No.</a>
					<a href="{{ context.board.path("res/"~p.id~".html#i"~p.id, context.admin) }}" class="val">{{ p.id }}</a>
				{% else %}
					<a href="#{{ p.id }}" class="no">No.</a>
					<a href="#i{{ p.id }}" class="val">{{ p.id }}</a>
				{% endif %}
			</span>
		{% endspaceless -%}
		{% if not p.parent and not context.thread %}
			<span class="replylink">[<a href="{{ context.board.path("res/"~p.id~".html", context.admin) }}">Reply</a>]</span>
		{% endif %}
	</h2>
{% endmacro %}

{% macro fileinfo(context, p) %}
	<div class="imginfo">
		File: <a href="{{ context.board.path("src/"~p.file) }}" target="_blank">{{ p.file }}</a>
		<em>(
			{{- p.file_size_formatted }}, {{ p.image_width }}x{{ p.image_height -}}
			{%- if context.thread and p.file_original %},
				<span title="{{ p.file_original }}">{{- filename(p.file_original) -}}</span>
			{%- endif -%}
		)</em>
	</div>
{% endmacro %}

{% macro thumb(context, p) %}
	{% import _self as m %}

	{% if p.thumb_width and p.thumb_height %}
		<a href="{{ context.board.path("src/"~p.file) }}" class="thumblink" target="_blank">
			<img src="{{ context.board.path("thumb/"~p.thumb) }}" alt="" class="thumb" width="{{ p.thumb_width }}" height="{{ p.thumb_height }}">
		</a>
	{% else %}
		<a href="{{ context.board.path("src/"~p.file) }}" class="nothumb">(No thumbnail)</a>
	{% endif %}
{% endmacro %}

{% macro body(p) %}
	<div class="postbody">
		<div class="posttext">
			{{- p.message|raw -}}
			{%- if p.abbrev -%}
				<div class="abbrev">Comment too long. Click <a href="">here</a>
				to view the full text.</div>
			{%- endif -%}
		</div>
	</div>
{% endmacro %}

{% macro op(context, p) %}
	{% import _self as m -%}

	{% if p.file %}
		{{ m.fileinfo(context, p) }}
		{{ m.thumb(context, p) }}
	{% endif %}
	{{ m.head(context, p) }}
	{{ m.body(p) }}
{% endmacro %}

{% macro reply(context, p) %}
	{% import _self as m -%}

	<div class="replywrap">
		<div class="doubledash">&gt;&gt;</div>
		<div class="reply" id="{{ p.id }}">
			{{ m.head(context, p) }}
			{% if p.file %}
				{{ m.fileinfo(context, p) }}
				{{ m.thumb(context, p) }}
			{% endif %}
			{{ m.body(p) }}
		</div>
	</div>
{% endmacro %}


{#
 # Post form
 #}

{% macro postform(context) %}
	<div class="postarea">
		<form action="{{ context.board.path("post", true) }}" method="post" enctype="multipart/form-data" name="postform" id="postform">
			<input type="hidden" name="parent" value="{{ context.thread ? context.thread : 0 }}">
			<table><tbody>
				<tr>
					<th>Name</th>
					<td><input type="text" name="field1" size="28"></td>
				</tr>
				<tr>
					<th>Email</th>
					<td><input type="text" name="field2" size="28"></td>
				</tr>
				<tr>
					<th>Subject</th>
					<td>
						<input type="text" name="field3" size="35">
						<input type="submit" value="Submit">
					</td>
				</tr>
				<tr>
					<th>Comment</th>
					<td><textarea name="field4" rows="4" cols="48"></textarea></td>
				</tr>
				<tr>
					<th>File</th>
					{# We use javascript to change the size. The size attribute isn't
					 # allowed on file inputs in HTML5 for some strange reason. #}
					<td><input type="file" name="file" data-size="35"></td>
				</tr>
				{% if context.admin %}
					<tr>
						<th>Options</th>
						<td>
							<div><label><input type="checkbox" name="raw" value="on"> Post with raw HTML</label></div>
							<div><label><input type="checkbox" name="capcode" value="on"> Post with capcode</label></div>
						</td>
					</tr>
				{% endif %}
			</tbody></table>

			<div class="rules">
				<ul>
					<li>Supported file types are: GIF, JPG, PNG</li>
					<li>Maximum file size allowed is {{ config.max_kb }} KB.</li>
					<li>Images greater than {{ config.max_thumb_w }}x{{ config.max_thumb_h }} pixels will be thumbnailed.</li>
				</ul>
			</div>
		</form>
	</div>
{% endmacro %}

{#
 # Links and stuff
 #}

{% macro make_previous_page_button(context) -%}
	{%- import _self as m -%}
	{% spaceless %}
		{% if not context.admin %}
      <form action="{{ context.board.path(context.pagenum == 1 ? "index.html" : (context.pagenum - 1)~".html", context.admin) }}" method="get">
        <input type="submit" value="Previous">
      </form>
		{% else %}
      <a href="{{ context.board.path((context.pagenum - 1)~".html", true) }}">Previous</a>
    {% endif %}
	{% endspaceless %}
{%- endmacro %}

{% macro make_next_page_button(context) -%}
	{%- import _self as m -%}
	{% spaceless %}
		{% if not context.admin %}
      <form action="{{ context.board.path((context.pagenum + 1)~".html") }}" method="get">
        <input type="submit" value="Previous">
      </form>
		{% else %}
      <a href="{{ context.board.path((context.pagenum + 1)~".html", true) }}">Next</a>
    {% endif %}
	{% endspaceless %}
{%- endmacro %}


{#
 # Various
 #}

{% macro delfile(context) %}
	<div class="deletefile">
		<label>[<input type="checkbox" name="delfile" value="on"> File Only]</label>
		<input type="submit" name="task" value="Delete">
		{% if not context.admin %}
			<input type="submit" name="task" value="Report">
		{% else %}
			<input type="submit" name="task" value="Ban">
		{% endif %}
	</div>
{% endmacro %}

{% macro returnlink(context, dest="") -%}
	{% if dest %}
		[<a href="{{ dest }}">Return</a>]
	{% elseif context.admin %}
		{% if context.board %}
			[<a href="{{ self }}?task=manage&board={{ context.board }}">Return</a>]
		{% else %}
			[<a href="{{ self }}?task=login">Return</a>]
		{% endif %}
	{% elseif context.board %}
		[<a href="{{ context.board.path("index.html") }}">Return</a>]
  {% else %}
    [<a href="{{ path("") }}">Return</a>]
	{% endif %}
{%- endmacro %}
