{#
 # Thread macros
 #}

{% macro thread(posts, thread) %}
	{% import _self as post -%}

	<div class="thread" id="post_{{ posts[0].id }}">
		{% for p in posts %}
			{% if not p.parent %}
				{{ post.op(p, thread) }}
				{% if p.omitted %}
					<div class="omitted">{{ p.omitted }} posts omitted. Click Reply to view.</div>
				{% endif %}
			{% else %}
				{{ post.reply(p, thread) }}
			{% endif %}
		{% endfor %}
	</div>
{% endmacro %}

{% macro head(p, thread) -%}
	<h2 class="posthead">
		<label>
			<input type="checkbox" name="delete[]" value="{{ p.id }}">
			{% if p.subject %}
				<em class="posttitle">{{ p.subject }}</em>
			{% endif %}
			<span class="postname">{{ p.name }}</span>
			{% if p.tripcode %}
				<span class="posttrip">{{ p.tripcode }}</span>
			{% endif %}
			<span class="postdate">{{ p.date }}</span>
		</label>
		{%- spaceless %}
			<span class="reflink">
				<a href="{{ path("res/"~(p.parent ? p.parent : p.id)~".html#"~p.id) }}" class="no">No.</a>
				<a href="" class="val">{{ p.id }}</a>
			</span>
		{% endspaceless -%}
		{% if not p.parent and not thread %}
			<span class="replylink">[<a href="{{ path("res/"~p.id~".html") }}">Reply</a>]</span>
		{% endif %}
	</h2>
{% endmacro %}

{% macro fileinfo(p) %}
	<div class="imginfo">
		File: <a href="{{ path("src/"~p.file) }}" target="_blank">{{ p.file }}</a>
		<em>({{ p.file_size }}, {{ p.image_width }}x{{ p.image_height }})</em>
	</div>
{% endmacro %}

{% macro thumb(p) %}
	{% if p.thumb_width and p.thumb_height %}
		<a href="{{ path("src/"~p.file) }}" class="thumblink" target="_blank">
			<img src="{{ path("thumb/"~p.thumb) }}" alt="" class="thumb" width="{{ p.thumb_width }}" height="{{ p.thumb_height }}">
		</a>
	{% else %}
		<a href="{{ path("src/"~p.file) }}" class="nothumb">(No thumbnail)</a>
	{% endif %}
{% endmacro %}

{% macro body(p) %}
	<div class="postbody">
		<div class="posttext">
			{{- p.message|raw -}}
			{%- if p.abbrev -%}
				<div class="abbrev">Comment too long. Click <a href="">here</a>
				to view the full text.</div>
			{%- endif -%}
		</div>
	</div>
{% endmacro %}

{% macro op(p, thread) %}
	{% import _self as m -%}

	{% if p.file %}
		{{ m.fileinfo(p) }}
		{{ m.thumb(p) }}
	{% endif %}
	{{ m.head(p, thread) }}
	{{ m.body(p) }}
{% endmacro %}

{% macro reply(p, thread) %}
	{% import _self as m -%}

	<div class="replywrap">
		<div class="doubledash">&gt;&gt;</div>
		<div class="reply" id="post_{{ p.id }}">
			{{ m.head(p, thread) }}
			{% if p.file %}
				{{ m.fileinfo(p) }}
				{{ m.thumb(p) }}
			{% endif %}
			{{ m.body(p) }}
		</div>
	</div>
{% endmacro %}


{#
 # Post form
 #}

{% macro postform(thread) %}
	<div class="postarea">
		<form action="{{ self() }}" method="post" enctype="multipart/form-data" name="postform" id="postform">
			<input type="hidden" name="parent" value="{{ thread ? thread : 0 }}">
			<table><tbody>
				<tr>
					<th>Name</th>
					<td><input type="text" name="field1" size="28"></td>
				</tr>
				<tr>
					<th>Email</th>
					<td><input type="text" name="field2" size="28"></td>
				</tr>
				<tr>
					<th>Subject</th>
					<td>
						<input type="text" name="field3" size="35">
						<input type="submit" value="Submit">
					</td>
				</tr>
				<tr>
					<th>Comment</th>
					<td><textarea name="field4" rows="4" cols="48"></textarea></td>
				</tr>
				<tr>
					<th>File</th>
					<td><input type="file" name="file" size="35"></td>
				</tr>
			</tbody></table>

			<div class="rules">
				<ul>
					<li>Supported file types are: GIF, JPG, PNG</li>
					<li>Maximum file size allowed is {{ constant("TINYIB_MAXKBDESC") }}.</li>
					<li>Images greater than {{ constant("TINYIB_MAXW") }}x{{ constant("TINYIB_MAXH") }} pixels will be thumbnailed.</li>
				</ul>
			</div>
		</form>
	</div>
{% endmacro %}


{#
 # Various
 #}

{% macro delfile() %}
	<div class="deletefile">
		<label>[<input type="checkbox" name="delfile" value="on"> File Only]</label>
		<input type="submit" name="task" value="Delete">
		<input type="submit" name="task" value="Report">
	</div>
{% endmacro %}

{% macro returnlink() -%}
	[<a href="{{ path("index.html") }}">Return</a>]
{%- endmacro %}
