{# TODO: The management panel needs its own set of links. #}

{#
 # Thread macros
 #}

{% macro thread(context, posts) %}
	{% import _self as post -%}

	<div class="thread" id="{{ posts[0].id }}">
		{% for p in posts %}
			{% if not p.parent %}
				{{ post.op(context, p) }}
				{% if p.omitted %}
					<div class="omitted">{{ p.omitted|raw }} posts omitted. Click Reply to view.</div>
				{% endif %}
			{% else %}
				{{ post.reply(context, p) }}
			{% endif %}
		{% endfor %}
	</div>
{% endmacro %}

{% macro head(context, p) -%}
	{% import _self as m -%}

	<h2 class="posthead">
		<label>
			<input type="checkbox" name="id[]" value="{{ p.id|raw }}">
			{% if p.subject %}
				<em class="posttitle">{{ p.subject|raw }}</em>
			{% endif %}

      {% if p.email %}
        <span class="postname"><a href="{{ p.email|raw }}">{{ p.name|raw }}</a></span>
        {%- if p.tripcode %}<span class="posttrip"><a href="{{ p.email|raw }}"> {{ p.tripcode|raw }}</a></span>{% endif %}
      {% else %}
        <span class="postname">{{ p.name|raw }}</span>
        {% if p.tripcode %}
          <span class="posttrip">{{ p.tripcode|raw }}</span>
        {% endif %}
      {% endif %}

			{% if context.admin %}
				<span class="postip">(<a href="{{ path("IP/"~p.ip, true) }}">{{ p.ip|raw }}</a>)</span>
			{% endif %}
			<span class="postdate">{{ p.date|raw }}</span>
		</label>
		{%- spaceless %}
			<span class="reflink">
				{% if not context.thread %}
					<a href="{{ context.board.linkToPost(p, false, context.admin) }}" class="no" data-num="{{ p.id|raw }}">No.</a>
					<a href="{{ context.board.linkToPost(p, true, context.admin) }}" class="val" data-num="{{ p.id|raw }}">{{ p.id|raw }}</a>
				{% else %}
					<a href="#{{ p.id|raw }}" class="no" data-num="{{ p.id|raw }}">No.</a>
					<a href="#i{{ p.id|raw }}" class="val" data-num="{{ p.id|raw }}">{{ p.id }}</a>
				{% endif %}
			</span>
		{% endspaceless -%}
		{% if not p.parent and not context.thread %}
			<span class="replylink">[<a href="{{ context.board.path("res/"~p.id~".html", context.admin) }}">Reply</a>]</span>
		{% endif %}
    {% if context.admin %}
      <span class="modcontrols">
        <a href="{{ context.board.path("delete", {"id": p.id}) }}" data-ajax="{{ context.board.apiPath("delete", {"id": p.id}) }}" title="Delete">D</a>
        <a href="{{ context.board.path("delete", {"id": p.id, "ban": 1}) }}" data-ajax="{{ context.board.apiPath("delete", {"id": p.id, "ban": 1}) }}" title="Ban & Delete">&</a>
        <a href="{{ context.board.path("ban", {"id": p.id}) }}" data-ajax="{{ context.board.apiPath("ban", {"id": p.id}) }}" title="Ban">B</a>
      </span>
    {% endif %}
	</h2>
{% endmacro %}

{% macro fileinfo(context, p) %}
	<div class="imginfo">
		File: <a href="{{ context.board.path("src/"~p.file) }}" target="_blank">{{ p.file }}</a>
		<em>(
			{{- p.prettysize|raw }}, {{ p.width|raw }}x{{ p.height|raw -}}
			{%- if context.thread and p.origname %},
				<span title="{{ p.origname }}">{{ filename(p.origname) }}</span>
			{%- endif -%}
		)</em>
	</div>
{% endmacro %}

{% macro thumb(context, p) %}
	{% import _self as m %}

	{% if p.t_width and p.t_height %}
		<a href="{{ context.board.path("src/"~p.file) }}" class="thumblink" target="_blank">
			<img src="{{ context.board.path("thumb/"~p.thumb) }}" alt="" class="thumb" width="{{ p.t_width|raw }}" height="{{ p.t_height|raw }}">
		</a>
	{% else %}
		<a href="{{ context.board.path("src/"~p.file) }}" class="nothumb">(No thumbnail)</a>
	{% endif %}
{% endmacro %}

{% macro body(context, p) %}
	<div class="postbody">
		<div class="posttext">
			{{- p.comment|raw -}}
			{% if p.abbrev %}
				<div class="abbrev">Comment too long. Click <a href="">here</a>
				to view the full text.</div>
			{% endif %}
      {% if context.showinfo %}
        <div class="modinfo">
          Board: <strong>/{{ context.board|raw }}/</strong>{% if p.parent %}, thread: <strong>{{ p.parent|raw }}</strong></li>{% endif %}
        </div>
      {% endif %}
		</div>
	</div>
{% endmacro %}

{% macro op(context, p) %}
	{% import _self as m -%}

	{% if p.file %}
		{{ m.fileinfo(context, p) }}
		{{ m.thumb(context, p) }}
	{% endif %}
	{{ m.head(context, p) }}
	{{ m.body(context, p) }}
{% endmacro %}

{% macro reply(context, p) %}
	{% import _self as m -%}

	<div class="replywrap">
		<div class="doubledash">&gt;&gt;</div>
		<div class="reply" id="{{ p.id|raw }}">
			{{ m.head(context, p) }}
			{% if p.file %}
				{{ m.fileinfo(context, p) }}
				{{ m.thumb(context, p) }}
			{% endif %}
			{{ m.body(context, p) }}
		</div>
	</div>
{% endmacro %}


{#
 # Links and stuff
 #}

{% macro make_previous_page_button(context) -%}
	{%- import _self as m -%}
	{% spaceless %}
		{% if not context.admin %}
      <form action="{{ context.board.path(context.pagenum == 1 ? "index.html" : (context.pagenum - 1)~".html", context.admin) }}" method="get">
        <input type="submit" value="Previous">
      </form>
		{% else %}
      <a href="{{ context.board.path((context.pagenum - 1)~".html", true) }}">Previous</a>
    {% endif %}
	{% endspaceless %}
{%- endmacro %}

{% macro make_next_page_button(context) -%}
	{%- import _self as m -%}
	{% spaceless %}
		{% if not context.admin %}
      <form action="{{ context.board.path((context.pagenum + 1)~".html") }}" method="get">
        <input type="submit" value="Next">
      </form>
		{% else %}
      <a href="{{ context.board.path((context.pagenum + 1)~".html", true) }}">Next</a>
    {% endif %}
	{% endspaceless %}
{%- endmacro %}


{#
 # Various
 #}

{% macro delfile(context) %}
	<div class="deletefile">
		<label>[<input type="checkbox" name="delfile" value="on"> File Only]</label>
		<input type="submit" name="task" value="Delete">
		{% if not context.admin %}
			<input type="submit" name="task" value="Report">
		{% else %}
			<input type="submit" name="task" value="Ban">
		{% endif %}
	</div>
{% endmacro %}

{% macro returnlink(context, dest="") -%}
	{% if dest %}
		[<a href="{{ dest }}">Return</a>]
	{% elseif context.board %}
		[<a href="{{ context.board.path("index.html", context.admin) }}">Return</a>]
  {% else %}
    [<a href="{{ path("index.html") }}">Return</a>]
	{% endif %}
{%- endmacro %}
