{% extends _base %}
{% import "includes/macros.html" as m %}

{% set title = "Post Reporting" %}

{% block content %}
  <div class="group-container">
    <form action="{{ board.path("report", true) }}" method="post" class="row-form">
      <input type="hidden" name="{{ app.csrf.getParamName() }}" value="{{ app.csrf.getToken() }}">

      {% for post in posts %}
        <input type="hidden" name="id[]" value="{{ post.id }}">
      {% endfor %}

      <h2>You are reporting the following posts:
        {% for post in posts %}
          <a href="{{ board.linkToPost(post) }}">{{ post.id }}</a>{% if loop.index != loop.length %},{% endif %}
        {% endfor %}
      </h2>

      <div class="row">
        <label for="reason">Report reason</label>
        <textarea type="text" name="reason" id="reason" cols="48" rows="4" autocomplete="off"></textarea>
      </div>

      <div class="row">
        <input type="submit" value="Report">
      </div>
    </form>
  </div>
{% endblock %}
