{% extends _base %}
{% import "includes/macros.html" as m %}

{% set title = "Editing board: /%s/"|format(board) %}

{% block content %}
  <div class="group-container">
    {% include "includes/board_form.html" with {
      "board": board,
      "path": board.path("edit", true),
      "has_rebuild": true,
      "submit_button": "Edit Board",
      "title": "Board information"
    } %}

    <div class="row-form">
      <h2>Configuration</h2>

      <input type="submit" value="Edit configuration">
    </div>

    <form action="{{ board.path("delete_board", true) }}" method="post" class="row-form">
      <h2>Delete board</h2>

      <p><strong>Warning:</strong> This will irrecoverably delete all data
        associated with the board. If you want to remove public access to the
        board, you can change the user level above instead.</p>

      <input type="hidden" name="{{ app.csrf.getParamName() }}" value="{{ app.csrf.getToken() }}">

      <div class="row">
        <label for="delete">Delete files</label>
        <input type="checkbox" name="delete" id="delete" value="on" checked>

        <p>Deletes the <kbd>src/</kbd> and <kbd>thumb/</kbd> directories
          associated with the board. Board caches will be removed either way.
        </p>
      </div>

      <p class="form-controls"><input type="submit" value="Delete Board"></p>
    </form>
  </div>
{% endblock %}
