{% extends _base %}
{% import "includes/macros.html" as m %}
{% set title = "Log in" %}

{% block content %}
  <form action="{{ path("login", true) }}" method="post" class="block-form">
    <input type="hidden" name="{{ app.csrf.getParamName() }}" value="{{ app.csrf.getToken() }}">

    {% if goto %}
      <input type="hidden" name="goto" value="{{ goto }}">
    {% endif %}

    {% if error %}
      <p class="notice-text">{{ error }}</p>
    {% endif %}

    <table class="form-table">
      <tbody>

        <tr>
          <th><label for="login-user">Username</label></th>
          <td><input type="text" name="login_user" id="login-user" size="16" autocomplete="off"></td>
        </tr>

        <tr>
          <th><label for="login-pass">Password</label></th>
          <td><input type="password" name="login_pass" id="login-pass" size="16" autocomplete="off"></td>
        </tr>

        <tr>
          <td></td>
          <td><input type="submit" value="Login"></td>
        </tr>

      </tbody>
    </table>
  </form>
{% endblock %}
