{% extends _base %}

{% import "includes/macros.html" as m %}

{% if editing %}
  {% set title = "Editing user '"~target~"'" %}
{% else %}
  {% set title = "User Accounts" %}
{% endif %}

{% block content %}
  {% if users %}
    <div class="block-form">
      <table class="list-table">
        <thead>
          <tr>
            <th>Username</th>
            <th>Level</th>
            <th>Email</th>
            <th>Last seen</th>
          </tr>
        </thead>

        <tbody>
          {% for u in users %}
            <tr>
              <td>{% if u.username == user %}<strong>{% endif %}<a href="{{ path("users/"~u.username, true) }}">{{ u.username }}</a>{% if u.username == user %}</strong>{% endif %}</td>
              <td>{{ u.level }}</td>
              <td>{% if u.email %}{{ u.email }}{% else %}-{% endif %}</td>
              <td>{{ u.lastlogin ?: "Never" }}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  {% endif %}

  <form action="{{ path("users" ~ (editing ? ("/" ~ target) : ""), true) }}" method="post" class="block-form">
    <input type="hidden" name="{{ app.csrf.getParamName() }}" value="{{ app.csrf.getToken() }}">

    {% if not editing %}
      <h2 class="page-title">Add User Account</h2>
    {% endif %}

    <table class="form-table">
      <tbody>
        <tr>
          <th>Username</th>
          <td>
            <input type="text" name="username" value="{{ target.username }}" size="20" maxlength="20" autocomplete="off" required pattern="^\w{1,20}$">
          </td>
        </tr>
        <tr>
          <th>Email Address</th>
          <td><input type="email" name="email" value="{{ target.email }}" size="20" autocomplete="off"></td>
        </tr>
        <tr>
          <th>Password</th>
          <td><input type="password" name="password" size="20" autocomplete="off"{% if not editing %} required{% endif %}></td>
        </tr>
        <tr>
          <th>(Confirm)</th>
          <td><input type="password" name="password2" size="20" autocomplete="off"{% if not editing %} required{% endif %}></td>
        </tr>
        <tr>
          <th>Level</th>
          <td><input type="number" name="level" value="{{ editing ? target.level : 5000 }}" size="4" autocomplete="off" min="0" max="9999" step="1"></td>
        </tr>
      </tbody>
    </table>

    <p class="form-controls">
      <input type="submit" value="{% if editing %}Edit User{% else %}Add User{% endif %}">
    </p>
  </form>
{% endblock %}
