{#
 # Thread macros
 #}

{% macro thread(context, posts) %}
	{% from _self import fileinfo, thumb, head, body, reply -%}

	<article class="post thread" id="{{ posts[0].id }}">
		{% for p in posts %}
			{% if not p.parent %}
        {% if p.file %}
          {{ fileinfo(context, p) }}
          {{ thumb(context, p) }}
        {% endif %}

        {{ head(context, p) }}
        {{ body(context, p) }}

				{% if p.omitted %}
					<p class="post-omitted">{{ p.omitted|raw }} posts omitted. Click Reply to view.</p>
				{% endif %}
			{% else %}
				{{ reply(context, p) }}
			{% endif %}
		{% endfor %}
	</article>
{% endmacro %}

{% macro head(context, p) -%}
	<h2 class="post-info">
		<label>
      {# Checkbox #}
			<input type="checkbox" name="id[]" value="{{ p.id|raw }}">

      {# Post subject #}
			{% if p.subject %}
				<span class="post-subject">{{ p.subject|raw }}</span>
			{% endif %}

      {# Poster's name/email/trip #}
      {% if p.email %}
        <span class="post-name"><a href="{{ p.email|raw }}">{{ p.name|raw }}</a></span>

        {%- if p.tripcode -%}
          <span class="post-trip"><a href="{{ p.email|raw }}"> {{ p.tripcode|raw }}</a></span>
        {% endif %}
      {% else %}
        <span class="post-name">{{ p.name|raw }}</span>

        {% if p.tripcode %}
          <span class="post-trip">{{ p.tripcode|raw }}</span>
        {% endif %}
      {% endif %}

      {# Show IP for moderators #}
			{% if context.admin %}
				<span class="post-ip">(<a href="{{ path("IP/"~p.ip, true) }}">{{ p.ip|raw }}</a>)</span>
			{% endif %}

			<span class="post-date">{{ p.date|raw }}</span>
		</label>

		{% spaceless %}
      {% if not context.thread %}
        <a href="{{ context.board.linkToPost(p, false, context.admin) }}" class="ref-link no" data-num="{{ p.id|raw }}">No.</a>
        <a href="{{ context.board.linkToPost(p, true, context.admin) }}" class="ref-link val" data-num="{{ p.id|raw }}">{{ p.id|raw }}</a>
      {% else %}
        <a href="#{{ p.id|raw }}" class="ref-link no" data-num="{{ p.id|raw }}">No.</a>
        <a href="#i{{ p.id|raw }}" class="ref-link val" data-num="{{ p.id|raw }}">{{ p.id }}</a>
      {% endif %}
		{% endspaceless %}

		{% if not p.parent and not context.thread %}
			<span class="reply-link">[<a href="{{ context.board.path("res/"~p.id~".html", context.admin) }}">Reply</a>]</span>
		{% endif %}

    {% if context.admin %}
      <span class="post-mod">
        <a href="{{ context.board.path("delete", {"id": p.id}) }}" title="Delete">D</a>
        <a href="{{ context.board.path("delete", {"id": p.id, "ban": 1}) }}" title="Ban & Delete">&</a>
        <a href="{{ context.board.path("ban", {"id": p.id}) }}" title="Ban">B</a>
      </span>
    {% endif %}
	</h2>
{% endmacro %}

{% macro fileinfo(context, p) %}
	<p class="post-file">
		File: <a href="{{ context.board.path("src/"~p.file) }}" target="_blank">{{ p.file }}</a>
		<em>(
			{{- p.prettysize|raw }}, {{ p.width|raw }}x{{ p.height|raw -}}
			{%- if context.thread and p.origname %},
				<span title="{{ p.origname }}">{{ p.shortname }}</span>
			{%- endif -%}
		)</em>
	</p>
{% endmacro %}

{% macro thumb(context, p) %}
	{% import _self as m %}

	{% if p.t_width and p.t_height %}
		<a href="{{ context.board.path("src/"~p.file) }}" class="thumb-link" target="_blank">
			<img src="{{ context.board.path("thumb/"~p.thumb) }}" alt="" class="thumb" width="{{ p.t_width|raw }}" height="{{ p.t_height|raw }}">
		</a>
	{% else %}
		<a href="{{ context.board.path("src/"~p.file) }}" class="no-thumb">(No thumbnail)</a>
	{% endif %}
{% endmacro %}

{% macro reports(reports) %}
  <div class="post-reports">
    <ul>
      {% for report in reports|json_decode(true) %}
        <li>
          Reported by <a href="{{ path("ip/"~report.ip, true) }}">{{ report.ip }}</a>: <strong class="reason">{{ report.reason }}</strong>
          <span class="dismiss">(<a href="{{ path("reports", {"dismiss": report.id}) }}" title="Dismiss">Dismiss</a>)</span>
        </li>
      {% endfor %}
    </ul>
  </div>
{% endmacro %}

{% macro body(context, p) %}
	{% import _self as m %}

  <div class="post-body">
    <div class="post-comment">
      {{- p.comment|raw -}}
    </div>

    <footer class="post-footer">
      {% if p.abbrev %}
        <p class="post-abbr">Comment too long. Click <a href="">here</a> to view the full text.</p>
      {% endif %}

      {% if context.showinfo %}
        <p class="post-modinfo">
          Board: <strong>/{{ context.board|raw }}/</strong>{% if p.parent %}, thread: <strong>{{ p.parent|raw }}</strong></li>{% endif %}
        </p>
      {% endif %}

      {% if p.reports %}
        {{ m.reports(p.reports) }}
      {% endif %}
    </footer>
  </div>
{% endmacro %}

{% macro op(context, p) %}
	{% import _self as m -%}

{% endmacro %}

{% macro reply(context, p) %}
	{% import _self as m -%}

	<article class="post reply" id="{{ p.id|raw }}">
		<div class="reply-indent">&gt;&gt;</div>

		<div class="reply-inner">
			{{ m.head(context, p) }}

			{% if p.file %}
				{{ m.fileinfo(context, p) }}
				{{ m.thumb(context, p) }}
			{% endif %}

			{{ m.body(context, p) }}
		</div>
	</article>
{% endmacro %}


{#
 # Links and stuff
 #}

{% macro make_previous_page_button(context) -%}
	{% import _self as m %}

  {% if not context.pagenum %}
    <div class="cell previous disabled">Previous</div>
  {% else %}
    {% if not context.admin %}
      <form action="{{ context.board.path(context.pagenum == 1 ? "index.html" : (context.pagenum - 1)~".html", context.admin) }}" method="get" class="cell previous">
        <input type="submit" value="Previous" onclick="window.location='{{ context.board.path(context.pagenum == 1 ? "index.html" : (context.pagenum - 1)~".html", context.admin) }}';return false">
      </form>
    {% else %}
      <div class="cell previous">
        <a href="{{ context.board.path((context.pagenum - 1)~".html", true) }}">Previous</a>
      </div>
    {% endif %}
  {% endif %}
{% endmacro %}

{% macro make_next_page_button(context) %}
	{% import _self as m %}

  {% if context.pagenum == context.maxpage %}
    <div class="cell next disabled">Next</div>
  {% else %}
    {% if not context.admin %}
      <form action="{{ context.board.path((context.pagenum + 1)~".html") }}" method="get" class="cell next">
        <input type="submit" value="Next" onclick="window.location='{{ context.board.path((context.pagenum + 1)~".html") }}';return false">
      </form>
    {% else %}
      <div class="cell next">
        <a href="{{ context.board.path((context.pagenum + 1)~".html", true) }}">Next</a>
      </div>
    {% endif %}
  {% endif %}
{% endmacro %}


{#
 # Various
 #}

{% macro returnlink(context, dest="") -%}
	{% if dest %}
		[<a href="{{ dest }}">Return</a>]
	{% elseif context.board %}
		[<a href="{{ context.board.path("index.html", context.admin) }}">Return</a>]
  {% else %}
    [<a href="{{ path("index.html") }}">Return</a>]
	{% endif %}
{%- endmacro %}
